<div class="container">
    <h1 class="mt-3">Devices List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/devices/add']" class="btn btn-primary">Add Device</a>
    </div>

    <ng-container *ngIf="devices">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Consumption</th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let device of devices">
                    <td>{{device.deviceId}}</td>
                    <td>{{device.description}}</td>
                    <td>{{device.address}}</td>
                    <td>{{device.maxConsumptionPerHour}}</td>
                    <td>
                        <a class="btn btn-light" [routerLink]="['/admin/devices', device.deviceId]">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</div>